body{margin: 0;
	background-color:#dddddd;
	font-family:"Comic Sans MS", "Comic Sans", cursive;}

	input{width:130px;}
 .center{margin: 0 auto;}
 

.div-style-1{padding:50px;box-shadow:2px 4px 14px #222222;border-radius:3px;margin-top:100px;}
.background-1{background-color:#0099EE;}
.background-2{background-color:#EEEEEE;}

.box-shadow-1{box-shadow:2px 2px 5px #dddddd;}

.buttonmenu{border:2px solid white;background-color:#0099EE;


	display:block;width:250px;margin-top:16px;padding:0px 30px 0px 30px;height:50px;}




.buttonlangue{
	margin-top:10px;
	width:180px;
	display:block;
	border:2px solid WHITE;
		margin-left: auto;
	margin-right: auto;
	padding-top:15px;padding-bottom:15px;
}
.login_central{
	Width:20%;
	margin-left:auto;
	margin-right:auto;
	margin-top:80px;
	
}
.buttonretour{
	margin-top:5px;
	margin-left:5px;
	border-radius:4%;
	width:90px;
	display:block;
	border:2px solid WHITE;
		
	padding-top:8px;padding-bottom:8px;
}
.buttonretour:hover{
	border:2px solid blue;
	
}

.buttonlangue:hover{
	border:2px solid blue;
	
}

.buttonadmin{
	margin-top:70px;
	width:120px;
	display:block;
	border:2px solid WHITE;
		float:left;
	padding-top:13px;padding-bottom:13px;
}

.buttonadmin:hover{
	
	border:2px solid blue;
}

.table_login_admin{
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
	width:600px;
	
}


.centrer {display:block;width:280px;margin-left:auto;margin-right:auto;}



.space_border5{width:100%;height:10;}
.space_border20{width:100%;height:20px;}

.Europe{float:left;margin-left:100px;margin-top:5px;box-shadow:2px 3px 7px black;}

.cadre_droit{font-size:22px;float:left;padding:15PX 40PX 15PX 40px;margin-top:5px;box-shadow:2px 3px 7px black;border-radius:4px;MARGIN-left:auto;margin-right:auto;margin-left:10px;}

.imagePays{height:200px;width:290px;box-shadow:2px 3px 7px black;border:4px;}
.info_pays{margin-top:3px;}


