body{margin: 0;
	background-color:#dddddd;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size:17px;color:black;}


	input{width:130px;}
 .center{margin: 0 auto;}
 
 .button-1{height:50px;padding:0px 40px 0px 40px;color:white;}
 .button-2{height:70px;padding:0px 90px 0px 40px;color:black;margin-bottom:15px;}
 
 
 .div-style-1{padding:50px;box-shadow:2px 4px 14px #888888;border-radius:3px;}
.div-style2{padding:20px;box-shadow:2px 4px 14px #CCCCCC;border-radius:2px;margin-top:25px;}

.color-t{background-color:#ffffff;}




.box-shadow-1{box-shadow:2px 2px 5px #dddddd;font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;}







.buttonlangue{
	margin-top:10px;
	width:180px;
	display:block;
	border:2px solid WHITE;
		margin-left: auto;
	margin-right: auto;
	padding-top:15px;padding-bottom:15px;
}
.login_central{
	Width:20%;
	margin-left:auto;
	margin-right:auto;
	margin-top:80px;
	
}
.buttonretour{
	background-color:white;
COLOR:black;
	WIDTH:130px;height:50px;
	margin-bottom:20px;
}

.buttonretour2{
	
COLOR:white;
	background-color:#0058CC;WIDTH:100px;height:43px;
}


.buttonlangue:hover{
	border:2px solid blue;
	
}

.buttonadmin{
	margin-top:70px;
	width:120px;
	display:block;
	border:2px solid WHITE;
		float:left;
	padding-top:13px;padding-bottom:13px;
}

.buttonadmin:hover{
	
	border:2px solid blue;
}

.table_login_admin{
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
	width:600px;
	
}


.centrer {display:block;width:280px;margin-left:auto;margin-right:auto;}



.space_border5{width:100%;height:10;}
.space_border20{width:100%;height:20px;}

.Europe{float:left;;margin-top:5px;}

.cadre_droit{font-size:22px;float:left;padding:15PX 40PX 15PX 40px;margin-top:5px;box-shadow:2px 3px 7px #AAAAAA;border-radius:4px;MARGIN-left:auto;margin-right:auto;margin-left:10px;}

.imagePays{width:350px;height:250px;box-shadow:2px 3px 7px black;border:4px;}
.info_pays{margin-top:3px;}



.demo-card-wide.mdl-card {
  min-width:600px;
  
}

.mdl-card__actions {

  outline: skyblue solid 5px;
  z-index: 4;

  
}
#name {
  display:flex;
margin-top: 10px;
  justify-content: left;
}

#contact{
  diplay: flex;

}



.demo-card-wide {
  height: 20px;
 // outline: limegreen 10px solid;
}


.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 64px;
  background-color:rgb(63,81,181);
}

.mdl-card__title-text {
  position: relative;
  top: 6px;
  
}

.demo-card-wide > .mdl-card__menu {
  color: #fff;
}


#mycard {
  height: 200px;
  width:100%;
 display:flex;
  flex-direction: row;
  // outline: red solid 10px;
  justify-content: center;
  align-items: center;
}

.mdl-textfield {
  width: 150px;
  margin-right: 10px;
}

.widthLARGE{mIN-width:200px;}

